nav iframe {
    background-color: rgb(0, 150, 0);
    overflow: hidden;
}

body {
    background-color: rgb(170, 186, 158);
    font-family: Helvetica;
}

p {
    color: rgb(65, 72, 51);
    font-size: 16px;
}
h1 {
    font-size: 20px;
    font-color: rgb(143, 114, 46);
}
