body {
    background-color: rgb(0, 150, 0);
}
img {
    float: left;
    width: 40px;
    padding: 0px 15px;
}

a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Arial";
}

a:hover {
    background-color: #ddd;
    color: black;
}

a.active {
    background-color: orange;
    color: white;
}
